@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
@keyframes shimmer {
  0% { background-position: -500px 0; }
  100% { background-position: 500px 0; }
}

.animate-shimmer {
  background-size: 1000px 100%;
  animation: shimmer 3s linear infinite;
}
/* Soft golden glow */
.neon-text {
  color: #e32c2c;
  text-shadow:
    0 0 6px #ffbb00,
    0 0 14px #ffff00,
    0 0 30px #d9ff00;
  animation: neonPulse 3s ease-in-out infinite;
}

/* @keyframes neonPulse {
  0%, 100% {
    text-shadow:
      0 0 6px #0400ff,
      0 0 14px #007bff,
      0 0 30px #2600ff;
  }
  50% {
    text-shadow:
      0 0 12px #00ff48,
      0 0 28px #00ff26,
      0 0 55px #00ff00;
  }
} */

@keyframes slideUp {
  0% { transform: translateY(30px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-slideUp {
  animation: slideUp 0.7s ease-out forwards;
}

.neon-cursor {
  margin-left: 4px;
  color: #e35ac8;
  animation: blink 1.4s infinite;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}
@keyframes swingZoom {
  0%, 100% { transform: scale(1) translateY(0); }
  50% { transform: scale(1.05) translateY(-10px); }
}

.animate-float-zoom {
  animation: swingZoom 4s ease-in-out infinite;
}

